.movie {
  margin: 1rem;
  padding: 1rem;
  background-color: #191222;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
}

.title {
  color: #f7e702;
}

.movie h1 {
  margin: 0;
}

.movie h2 {
  font-size: 2rem;
  margin: 0;
}

.movie h3 {
  color: #eccf77;
  margin: 7px;
  font-size: 1rem;
}

.movie div {
  margin: 10px;
}

.relation {
  text-align: left;
}

.relationTitle {
  cursor: pointer;
}

.releaseDate {
  font-size: 18px;
}